<!DOCTYPE html>
<html lang="en" ng-app='postweet'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple interface to post tweets to Twitter">
    <meta name="author" content="Guillermo Carrasco">

    <title>Postweet - Post a tweet to your Tweeter stream</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/postweet.css" rel="stylesheet">

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Angular app -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app/controllers/postweetController.js"></script>

</head>

<body>
    <!-- Page Content -->
    <div class="container" ng-controller="postweetController as ptCtrl">

      <div ng-show="ptCtrl.authenticated">
        <!-- Post tweet panel -->
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Post a tweet!</h3>
              </div>
              <div class="panel-body">
                <textarea maxlength="140" id="tweetText" ng-model="ptCtrl.statusText" form="postweet-form" required></textarea>
                <div class="divButton">
                  <input type="file" id="fileInput" accept="video/*,image/*" value="Add media (photo or video)" />
                </div>
                <hr />
                <form id="postweet-form">
                  <input type="button" id="postButton" class="btn btn-primary btn-lg btn-block" ng-click="ptCtrl.postTweet()" ng-disabled="!ptCtrl.statusText" value="Post tweet!"></input>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div ng-hide="ptCtrl.authenticated">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="ptCtrl.beginTwitterAuth()">Authorize Postweet with Twitter! </button>
      </div>

      <!-- Console log panel -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <pre id="logPanel" class="logPanel"></pre>
        </div>
      </div>

    </div>
    <!-- /.container -->

</body>

</html>
