body {
    padding-top: 70px;
    background-color: #D2FCE9;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
     padding: 5px;
     margin-bottom: 10px;
}

div .divButton {
    text-align: center;
}


.panel {
    box-shadow: 5px 5px 5px rgba(0,0,0,.05);
    border-color: #27ae60;
}

.panel-title {
    color: #fff;
}

.panel-default .panel-heading {
    background-color: #27ae60;
}

.btn-primary {
    background-color: #27ae60;
    border-color: #27ae60;
}

.btn-primary:hover {
    background-color: #16a085;
    border-color: #16a085;
}

.btn-primary:active {
    background-color: #16a085;
    border-color: #16a085;
}

.logPanel {
    background-color: #000;
    color: #fff;
    height: 400px;
    margin-top: 10px;
}
